{% load mptt_tags %}
{% load dict_tags %}
{% load humanize %}
{% recursetree comments %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-0">
                <button id="like-comment-button-{{ node.pk }}" class="btn btn-outline-success btn-sm" onclick="handleCommentClick(hasLiked=true, pk={{ node.pk }})">👍</button>
                <br />
                <button id="dislike-comment-button-{{ node.pk }}" class="btn btn-outline-danger btn-sm" onclick="handleCommentClick(hasLiked=false, pk={{ node.pk }})">👎</button>
            </div>
            <div class="col-11">
                <h6 class="card-subtitle mb-2 text-muted">
                    {{ names|get_item:node.pk }}
                    • <span title="{{ node.timestamp }}">{{ node.timestamp|naturaltime }}</span> • <strong id="comment-score-{{ node.pk }}">{{ node.score }} points</strong>
                </h6>
                <p class="card-text">{{ node.body }}</p>
                <h6 class="card-subtitle mb-2 text-muted">
                    <a href="{% url 'reply_comment' node.pk %}">Reply</a>
                    {% if node.author == user %}
                        • <a href="{% url 'edit_comment' node.pk %}">Edit</a>
                        • <a href="{% url 'delete_comment' node.pk %}">Delete</a>
                    {% endif %}
                </h6>
            </div>
        </div>
    </div>
    {% if not node.is_leaf_node %}
        <div class="card-footer">
            {{ children }}
        </div>
    {% endif %}
</div>
{% endrecursetree %}