{% extends 'layout/base.html' %}
{% load dict_tags %}
{% block title %}Quadrangle | {{ college.short_name }}{% endblock title %}
{% block content %}
{% include 'forum/hero.html' %}
<div class="row">
    <a href="{% url 'new_thread' college.slug %}" class="btn btn-primary btn-lg">Create new thread</a>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Score</th>
                <th>Author</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for thread in threads %}
            <tr>
                <th>{{ thread.score }}</th>
                <th>{{ names|get_item:thread.slug }}</th>
                <th><a href="{% url 'thread' thread.slug %}">{{ thread.title }}</a></th>
                <th>{{ thread.timestamp }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}