{% extends 'layout/base.html' %}
{% block title %}Quadrangle | {{ thread.title }}{% endblock title %}
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'forum' college.slug %}">{{ college.short_name }}</a></li>
</ol>
<div class="card">
    <div class="card-header">
        <b>Author: </b> {{ thread.author }} • posted at {{ thread.timestamp }}
    </div>
    <div class="card-body">
        <h2 class="card-title">{{ thread.title }}</h2>
        <p class="card-text">{{ thread.body }}</p>
    </div>
    <div class="card-footer">
        {% include 'forum/like.html' %}
    </div>
</div>
<a class="btn btn-info btn-lg" href="{% url 'new_comment' thread.slug %}">New comment</a>
{% include 'forum/comment.html' %}
{% endblock content %}